---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [2]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [3]:
def answer_one():
    return "United States"
df.sort('Gold').iloc[-1][-1]

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

'USA'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [4]:
def answer_two():
    return "United States"

GoldDiff = abs(df['Gold']-df['Gold.1'])
GoldDiff.sort()
GoldDiff.get_value('United States')

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:5: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting

880

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [5]:
WonGold = df[(df['Gold'] > 0) & (df['Gold.1'] > 0)]
WonGold = (WonGold['Gold']-WonGold['Gold.1'])/WonGold['Gold.2']
WonGold.sort()
WonGold

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:3: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting
  app.launch_new_instance()

Austria                  -0.532468
Norway                   -0.356322
Switzerland              -0.030928
Canada                   -0.024793
Croatia                   0.200000
Slovenia                  0.333333
Belarus                   0.333333
Czech Republic            0.333333
Netherlands               0.350877
Germany                   0.380952
Estonia                   0.384615
Finland                   0.412587
Russia                    0.458564
Sweden                    0.481865
South Korea               0.514019
United Team of Germany    0.555556
Slovakia                  0.555556
East Germany              0.593750
Unified Team              0.666667
Uzbekistan                0.666667
Soviet Union              0.670190
West Germany              0.671642
Italy                     0.685106
France                    0.733906
United States             0.820896
Poland                    0.828571
Japan                     0.857143
Kazakhstan                0.882353
Ukraine                   0.885714
China                     0.887324
Great Britain             0.918699
Czechoslovakia            0.921569
Australia                 0.930556
Belgium                   0.947368
Spain                     0.947368
Bulgaria                  0.961538
dtype: float64

In [6]:
def answer_three():
    return "Bulgaria"

### Question 4
Write a function to update the dataframe to include a new column called "Points" which is a weighted value where each gold medal counts for 3 points, silver medals for 2 points, and bronze mdeals for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [7]:
df['Points'] = df['Gold.2']*3+df['Silver.2']*2+df['Bronze.2']
df['Points']

Afghanistan                            2
Algeria                               27
Argentina                            130
Armenia                               16
Australasia                           22
Australia                            923
Austria                              569
Azerbaijan                            43
Bahamas                               24
Bahrain                                1
Barbados                               1
Belarus                              154
Belgium                              276
Bermuda                                1
Bohemia                                5
Botswana                               2
Brazil                               184
British West Indies                    2
Bulgaria                             411
Burundi                                3
Cameroon                              12
Canada                               846
Chile                                 24
China                               1120
Colombia                              29
Costa Rica                             7
Ivory Coast                            2
Croatia                               67
Cuba                                 420
Cyprus                                 2
                                    ...
Spain                                268
Sri Lanka                              4
Sudan                                  2
Suriname                               4
Sweden                              1217
Switzerland                          630
Syria                                  6
Chinese Taipei                        32
Tajikistan                             4
Tanzania                               4
Thailand                              44
Togo                                   1
Tonga                                  2
Trinidad and Tobago                   27
Tunisia                               19
Turkey                               191
Uganda                                14
Ukraine                              220
United Arab Emirates                   3
United States                       5684
Uruguay                               16
Uzbekistan                            38
Venezuela                             18
Vietnam                                4
Virgin Islands                         2
Yugoslavia                           171
Independent Olympic Participants       4
Zambia                                 3
Zimbabwe                              18
Mixed team                            38
Name: Points, dtype: int64

In [8]:
def answer_four():
    return df['Points']

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [9]:
census_df = pd.read_csv('census.csv')
census_df = census_df.set_index('STNAME')
STNAMES = census_df[census_df['SUMLEV'] == 40].index.unique()

LargestState = None
MostCounties = 0
for STNAME in STNAMES:
    if MostCounties > len(census_df[census_df['COUNTY']>= 1].loc[STNAME]):
        continue
    else:        
        LargestState = STNAME
        MostCounties = len(census_df[census_df['COUNTY']>= 1].loc[STNAME])
print(LargestState, MostCounties)

Texas 254

In [10]:
def answer_five():
    return "Texas"

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)?

*This function should return a list of string values.*

In [11]:
census_df = pd.read_csv('census.csv')
census_q6 = census_df.copy()
census_q6.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [12]:
census_q6 = census_q6[census_df['SUMLEV'] == 50]
census_q6 = census_q6[['STNAME', 'CTYNAME','POPESTIMATE2015']]
census_q6.head()

    STNAME         CTYNAME  POPESTIMATE2015
1  Alabama  Autauga County            55347
2  Alabama  Baldwin County           203709
3  Alabama  Barbour County            26489
4  Alabama     Bibb County            22583
5  Alabama   Blount County            57673

In [13]:
census_q6 = census_q6.set_index(['STNAME', 'CTYNAME'])

In [14]:
census_q6.head()

                        POPESTIMATE2015
STNAME  CTYNAME
Alabama Autauga County            55347
        Baldwin County           203709
        Barbour County            26489
        Bibb County               22583
        Blount County             57673

In [15]:
temp = census_q6['POPESTIMATE2015']
temp = temp.sort_values()
temp.head()

STNAME    CTYNAME
Hawaii    Kalawao County     89
Texas     Loving County     112
          King County       282
          Kenedy County     407
Nebraska  Arthur County     456
Name: POPESTIMATE2015, dtype: int64

In [16]:
StatePop = dict()

for STNAME in STNAMES:
    if len(temp.loc[STNAME]) > 2:
        StatePop[STNAME] = temp.loc[STNAME][-1]+temp.loc[STNAME][-2]+temp.loc[STNAME][-3]        
SStatePop = pd.Series(StatePop)
SStatePop.sort_values()

Wyoming             228519
Vermont             279730
North Dakota        335778
South Dakota        346748
Montana             371968
West Virginia       404469
Alaska              499421
Mississippi         617624
Maine               643838
Idaho               792035
New Hampshire       856449
Iowa                859753
Arkansas            867813
Rhode Island        924791
Delaware            945934
Nebraska           1032224
New Mexico         1039666
Kentucky           1243123
Kansas             1270458
Louisiana          1272645
South Carolina     1288176
Hawaii             1359779
Alabama            1428851
Oklahoma           1690564
Oregon             1766135
Indiana            1795335
Wisconsin          1877866
Colorado           1988112
Utah               2018562
Virginia           2046700
Tennessee          2068282
Missouri           2076575
Minnesota          2175968
North Carolina     2575868
New Jersey         2576840
Nevada             2616225
Georgia            2647719
Connecticut        2703364
Maryland           2780779
Massachusetts      3182223
Ohio               3315241
Pennsylvania       3617165
Washington         3733580
Michigan           3866479
Arizona            5584556
Florida            6012331
New York           6620403
Illinois           6875862
Texas              9073911
California        16639589
dtype: int64

In [17]:
def answer_six():
    return ['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest change in population within the five year period (hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all five columns)?

*This function should return a single string value.*

In [18]:
census_df = pd.read_csv('census.csv')
census_q7 = census_df[['SUMLEV','CTYNAME','POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']]
census_q7 = census_q7[census_q7['SUMLEV'] == 50]
census_q7 = census_q7.reset_index()
census_q7.set_index(['CTYNAME'], inplace=True)
census_q7 = census_q7[['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']]

census_q7.head()

,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
CTYNAME,,,,,,
Autauga County,54660,55253,55175,55038,55290,55347
Baldwin County,183193,186659,190396,195126,199713,203709
Barbour County,27341,27226,27159,26973,26815,26489
Bibb County,22861,22733,22642,22512,22549,22583
Blount County,57373,57711,57776,57734,57658,57673

In [19]:
census_q7

,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015
CTYNAME,,,,,,
Autauga County,54660,55253,55175,55038,55290,55347
Baldwin County,183193,186659,190396,195126,199713,203709
Barbour County,27341,27226,27159,26973,26815,26489
Bibb County,22861,22733,22642,22512,22549,22583
Blount County,57373,57711,57776,57734,57658,57673
Bullock County,10887,10629,10606,10628,10829,10696
Butler County,20944,20673,20408,20261,20276,20154
Calhoun County,118437,117768,117286,116575,115993,115620
Chambers County,34098,33993,34075,34153,34052,34123
Cherokee County,25976,26080,26023,26084,25995,25859
Chilton County,43665,43739,43697,43795,43921,43943
Choctaw County,13841,13593,13543,13378,13289,13170
Clarke County,25767,25570,25144,25116,24847,24675
Clay County,13880,13670,13456,13467,13538,13555
Cleburne County,14973,14971,14921,15028,15072,15018
Coffee County,50177,50448,51173,50755,50831,51211
Colbert County,54514,54443,54472,54471,54480,54354
Conecuh County,13208,13121,12996,12875,12662,12672
Coosa County,11758,11348,11195,11059,10807,10724
Covington County,37796,38060,37818,37830,37888,37835
Crenshaw County,13853,13896,13951,13932,13948,13963
Cullman County,80473,80469,80374,80756,81221,82005
Dale County,50358,50109,50324,49833,49501,49565
Dallas County,43803,43178,42777,42021,41662,41131
DeKalb County,71142,71387,70942,70869,71012,71130
Elmore County,79465,80012,80432,80883,81022,81468
Escambia County,38309,38213,38034,37857,37784,37789
Etowah County,104442,104236,104235,103852,103452,103057
Fayette County,17231,17062,16960,16857,16842,16759
Franklin County,31734,31729,31648,31507,31592,31696
...,...,...,...,...,...,...
Washburn County,15930,15784,15831,15657,15678,15552
Washington County,131967,132225,132649,132758,133301,133674
Waukesha County,390076,390808,392710,394025,395335,396488
Waupaca County,52422,52342,52035,52213,52088,51945
Waushara County,24506,24581,24484,24332,24173,24033
Winnebago County,167059,167630,168717,169486,169639,169546
Wood County,74807,74647,74384,73996,73597,73435
Albany County,36428,36908,37396,37647,37918,37956
Big Horn County,11672,11745,11785,12002,11919,12022
Campbell County,46244,46600,47881,48121,48243,49220
Carbon County,15837,15817,15678,15787,15856,15559
Converse County,13826,13728,14025,14343,14172,14236
Crook County,7114,7129,7148,7160,7264,7444
Fremont County,40222,40591,41129,41024,40717,40315
Goshen County,13408,13597,13666,13565,13509,13383
Hot Springs County,4813,4818,4846,4846,4793,4741
Johnson County,8581,8636,8610,8619,8552,8585
Laramie County,92271,92663,94894,96006,96469,97121
Lincoln County,18091,18022,17943,18328,18564,18722
Natrona County,75472,76420,78699,81156,81603,82178
Niobrara County,2492,2485,2475,2548,2530,2542
Park County,28259,28473,28863,29237,29126,29228
Platte County,8678,8701,8732,8728,8776,8812
Sheridan County,29146,29275,29594,29794,30020,30009
Sublette County,10244,10142,10418,10086,10039,9899
Sweetwater County,43593,44041,45104,45162,44925,44626
Teton County,21297,21482,21697,22347,22905,23125
Uinta County,21102,20912,20989,21022,20903,20822
Washakie County,8545,8469,8443,8443,8316,8328
Weston County,7181,7114,7065,7160,7185,7234

In [20]:
census_q7['POPCHANGE'] = abs(census_q7.max(axis=1) - census_q7.min(axis=1))
census_q7.head()

,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPCHANGE
CTYNAME,,,,,,,
Autauga County,54660,55253,55175,55038,55290,55347,687
Baldwin County,183193,186659,190396,195126,199713,203709,20516
Barbour County,27341,27226,27159,26973,26815,26489,852
Bibb County,22861,22733,22642,22512,22549,22583,349
Blount County,57373,57711,57776,57734,57658,57673,403

In [21]:
PopChange = census_q7['POPCHANGE'].copy()
PopChange.sort()
PopChange

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:2: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting
  from ipykernel import kernelapp as app

CTYNAME
Kalawao County                1
Stanley County               20
San Juan County              24
Logan County                 25
Grant County                 27
Keya Paha County             28
LaMoure County               28
Kidder County                29
Hitchcock County             29
King County                  30
Arthur County                30
Loving County                31
Hooker County                31
Mineral County               31
Oliver County                32
Harding County               32
Bennett County               33
Petroleum County             34
Kenedy County                34
Roberts County               35
Faulk County                 35
Treasure County              36
Carter County                37
Sheridan County              38
Rooks County                 38
McPherson County             38
Callahan County              39
Blaine County                40
Sanborn County               41
Borden County                41
                          ...
Fulton County             84524
Franklin County           85426
San Bernardino County     86491
Gwinnett County           87549
Palm Beach County         98618
Queens County            103577
Mecklenburg County       110756
Denton County            113650
Hillsborough County      115219
Wake County              117233
Alameda County           124461
Collin County            125498
Fort Bend County         125506
Kings County             126400
Santa Clara County       131200
Orange County            139303
Broward County           143162
Travis County            146127
Orange County            151910
Riverside County         158740
Clark County             161423
Tarrant County           165970
Bexar County             174764
King County              179426
Dallas County            179921
Miami-Dade County        184946
San Diego County         195135
Maricopa County          342350
Los Angeles County       344283
Harris County            429841
Name: POPCHANGE, dtype: int64

In [22]:
def answer_seven():
    return "Harris County"

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [23]:
census_q8 = census_df[['SUMLEV','REGION','STNAME','CTYNAME','POPESTIMATE2014','POPESTIMATE2015']]
census_q8 = census_q8[census_q8['SUMLEV'] == 50]
census_q8.head()

   SUMLEV  REGION   STNAME         CTYNAME  POPESTIMATE2014  POPESTIMATE2015
1      50       3  Alabama  Autauga County            55290            55347
2      50       3  Alabama  Baldwin County           199713           203709
3      50       3  Alabama  Barbour County            26815            26489
4      50       3  Alabama     Bibb County            22549            22583
5      50       3  Alabama   Blount County            57658            57673

In [24]:
census_q8 = census_q8[(census_q8['POPESTIMATE2015'] > census_q8['POPESTIMATE2014']) & (census_q8['REGION'] < 3) & (census_q8['CTYNAME'] == 'Washington County')]
census_q8[['STNAME', 'CTYNAME']]

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County

In [25]:
def answer_eight():
    census_q8 = census_df[['SUMLEV','REGION','STNAME','CTYNAME','POPESTIMATE2014','POPESTIMATE2015']]
    census_q8 = census_q8[census_q8['SUMLEV'] == 50]
    census_q8 = census_q8[(census_q8['POPESTIMATE2015'] > census_q8['POPESTIMATE2014']) & (census_q8['REGION'] < 3) & (census_q8['CTYNAME'] == 'Washington County')]
    return census_q8[['STNAME', 'CTYNAME']]